
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rubik', sans-serif;
  background-color: #F6CEFC;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 3rem;
}

#motus-h1{
  font-family: 'Eagle Lake', cursive;
}

#submit-connexion{
  cursor: pointer;
}

#submit-connexion:hover{
  background-color: #F6CEFC;
  box-shadow: white 0px 5px 15px;
  transition: ease-in-out 0.2s;
}

.root{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.game{
  text-align: center;
}

.word-container{
  overflow:auto;
  background-color: #ffae9e;
  height: 100px;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid black;
 
}

.word{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.letter{
  font-size: 2rem;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.input-container{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#text-input{
  width: 50%;
  margin-bottom: 1rem;
  padding: 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  letter-spacing: 9px;
}

#submit-input{
  width: 30%;
  margin-bottom: 1rem;
  border-color: #ffae9e;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

#submit-input:hover{
  background-color: #F6CEFC;
  box-shadow: white 0px 5px 15px;
  transition: ease-in-out 0.2s;
}


#submit-input:active{
  transform: translateY(2px);
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.root-connexion .input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root-connexion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.root-register .input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root-register{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.input input{
  width: 100%;
  margin-bottom: 1rem;
  padding: 9px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #aa7fc6, #ffae9e) 1;

}

.link-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.link-buttons button{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #aa7fc6, #ffae9e) 1;
}

button{
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #aa7fc6, #ffae9e) 1;
}

button:hover{
  background-color: #F6CEFC;
  box-shadow: white 0px 5px 15px;
  transition: ease-in-out 0.2s;
}


table{
  width: 80%;
  height: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

th, td{
  border: 1px solid black;
  padding: 10px;
}

.root-classement h2, .root-words h2{
  text-align: center;
}

.root-classement{
  height: 100%;
}

.root-words{
  height: 100%;
}
